%table.with_content{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th{style: "text-align:left;"} Ваши фильтры
      %th Новые тендеры
  %tbody
    - filters.each do |filter|
      %tr
        %td{width:'70%'}
          = link_to filter.name, "#{@domain}/search/\#{%22id%22:%22#{filter.id}%22}", :target => "_blank"
        %td{width:'30%', style: "text-align:center;"}
          = filter.parsed_count