%h3 Приближается срок подачи заявок по процедурам, которые вы поставили на контроль.

%table.with_content{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th{style: "text-align:left;"} Название
      %th Срок подачи
      %th Координатор
      %th{style: "text-align:left;"} Цена
  %tbody
    - tenders.each do |tender|
      %tr
        %td= link_to tender.name, "#{@domain}/tender/\#{%22id%22:%22#{tender.guid}%22}", :target => "_blank"
        %td{style: "text-align:center;"}= l tender.end_at
        %td{style: "text-align:center;"}= tender.user.full_name
        %td= number_to_currency tender.price
