%h3= user.full_name

%table.with_content{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th{style: "text-align:left;"} Ваши фильтры
      %th Новые тендеры
  %tbody
    - filters[user.id].each do |filter|
      %tr
        %td{width:'70%', style: "padding_bottom: '10px';"}
          = link_to filter.name, "#{@domain}/search/\#{%22id%22:%22#{filter.id}%22}", :target => "_blank"
        %td{width:'30%', style: "text-align:center;padding_bottom:'10px'"}
          = filter.parsed_count