- content_for :head do
  = stylesheet_link_tag 'filter_mailer/changes_report'

%h3 Уважаемый пользователь!

%p
  Вы подписались на оповещения по тендерам в сервисе «Гарант Тендер».

- if @total > 0
  %p За последние сутки добавлено <strong>#{@total}</strong> закупок на общую сумму <strong>#{number_to_currency @price}</strong> по указанным вами параметрам.

  = render partial: 'filters', locals: { filters: @filters }
  = render partial: 'users_filters', collection: @users, as: :user, locals: { filters: @users_filters }
- else
  %p За последние сутки новых процедур по указанным вами параметрам нет.

- if @tenders.present?
  = render partial: 'tenders', locals: { tenders: @tenders }

%h3 Содействие в получении банковской гарантии

%p
  Вы нашли интересующий тендер? Наши консультанты помогут вам оформить заявку на банковскую гарантию,
  заполнить анкету банка, приложить нужные документы, проверить их корректность, подписать электронной
  подписью и направить в банк.

  %table.btn.btn-primary{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
    %tbody
      %tr
        %td{:align => "left"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
            %tbody
              %tr
                %td
                  #{link_to 'Отправить заявку', 'http://www.garantexpress.ru/services/electronic_trading/bank_guarantee/', class:'btn', :target => "_blank"}