- content_for :head do
  = stylesheet_link_tag 'filter_mailer/create_first'

%table.create_first
  %tr
    %td.container
      %table.style_clear.header
        %tr
          %td
            %table{border:"0", cellspacing:"0", cellpadding:"20", align:"left", style:"width:40%;"}
              %tr
                %td.space
                  %img{src: image_path(attachments['shutterstock.png'].url), width: '209', height: '258'}

            %table{border:"0", cellspacing:"0", cellpadding:"20", align:"left", style:"width:60%;"}
              %tr
                %td.welcome
                  .welcome_header Мы заметили, что у вас нет фильтров
                  %p Создайте ваш первый поисковый фильтр прямо сейчас и начните получать ежедневную рассылку о новых закупках!

                  %table.btn.btn-primary{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
                    %tbody
                      %tr
                        %td{:align => "left"}
                          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
                            %tbody
                              %tr
                                %td
                                  #{link_to 'Создать фильтр', "#{@domain}/filter/\#{\"federalLaw\":[\"fl176\",\"fl223\",\"fl44\",\"smpchs\",\"com\"],\"attachmentSearch\":true,\"stage\":\"application\"}", class:'btn', :target => "_blank"}
  %tr
    %td
      %h1 Преимущества
      %table
        %tr
          %td
            %table{border:"0", cellspacing:"0", cellpadding:"20", align:"left", style: "width:30%;"}
              %tr
                %td.ico
                  %img{src: image_path(attachments['clock.png'].url), width: '46', height: '46'}
              %tr
                %td.text
                  %h2 Автоматический поиск
                  %p Гарант Тендер самостоятельно </br> ищет закупки по избранному фильтру </br> среди активных и архивных закупок
            %table{border:"0", cellspacing:"0", cellpadding:"20", align:"left", style: "width:30%;"}
              %tr
                %td.ico
                  %img{src: image_path(attachments['letter.png'].url), width: '46', height: '46'}
              %tr
                %td.text
                  %h2 Оповещения на email
                  %p Узнавайте о новых закупках <w/br> по созданному фильтру </br> из ежедневной сводки
            %table{border:"0", cellspacing:"0", cellpadding:"20", align:"left", style: "width:30%;"}
              %tr
                %td.ico
                  %img{src: image_path(attachments['search.png'].url), width: '46', height: '46'}
              %tr
                %td.text
                  %h2 Ежедневное обновление
                  %p Актуальная информация по закупкам. </br> Ежедневное обновление списка </br> тендеров по вашим фильтрам