%p
  Уважаемый пользователь.

%p Рады сообщить, что с 21 апреля будет запущена новая версия сервиса “Гарант Тендер”.
%p В обновленной версии реализовано большое   количество   доработок,   касающихся   не только повышения удобства работы в сервисе, но и функциональных возможностей. Для нас было важно сделать Гарант Тендер максимально информативным и комфортным в использовании, чтобы Вы могли оперативно находить интересующую Вас информацию. И все это - в новом современном дизайне.
%p
  %strong Новому Гарант Тендеру - новый адрес
%p
  Сервис “Гарант Тендер” теперь будет доступен по веб-адресу: <a href='https://gartender.ru'>https://gartender.ru</a>.
%p
  %strong Вход в кабинет на новой версии
%p 21 апреля на Ваш адрес электронной почты будет направлено письмо с учетными  данными для входа в новую версию сервиса “Гарант Тендер”. Для начала работы перейдите по ссылке, которая будет указана в письме.
%p Тема письма: “Регистрация в сервисе Гарант Тендер”. Учетными данными для входа в систему будут e-mail и пароль.
%p
  %strong Переходный период
%p В течение месяца после запуска, будет поддерживаться работа сразу двух версий системы: старой и новой. По истечению месяца, старая версия Гарант Тендера будет отключена и доступ к ней закрыт.
%p На момент запуска, в обновленную версию уже будут перенесены все настройки и фильтры Вашего кабинета. Если с 21 апреля Вы будете создавать и сохранять новые фильтры и настройки в старой версии, то в новую версию они переноситься уже не будут. Рекомендуем все новые фильтры и настройки создавать сразу в обновленной версии.
%p Более подробно обо всех изменениях в обновленной версии Вы можете узнать из дайджеста во вложении к данному письму.

