.create_first {
    max-width: 1024px;
}

.create_first td.container{
    vertical-align: top;
    padding-top: 20px;
}

.create_first td.logo{
    text-align: center;
    padding: 10px;
}

.create_first td.ico{
    text-align: center;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    width: 33%;
}

.create_first td.text {
    text-align: center;
    color: #606060;
    padding-top: 20px;
    vertical-align: top;
}

.create_first td.text h2{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}