<!DOCTYPE html>
<html>
<head>
  <title>Maintenance</title>
  <style type="text/css">
    body {
      width: 400px;
      margin: 100px auto;
      font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    }

    h1 {
      font-weight: 300;
    }
  </style>
</head>
<body>
<h1>Maintenance</h1>

<p>The system is down for <%= reason ? reason : "maintenance" %><br>
  as of <%= Time.now.strftime("%F %H:%M %Z") %>.</p>

<p>It'll be back <%= deadline ? deadline : "shortly" %>.</p>
</body>
</html>
