upstream puma_<%= fetch(:nginx_config_name) %> { <%
  @backends = [fetch(:puma_bind)].flatten.map do |m|
  etype, address  = /(tcp|unix|ssl):\/{1,2}(.+)/.match(m).captures
  if etype == 'unix'
    "server #{etype}:#{address} #{fetch(:nginx_socket_flags)};"
  else
    "server #{address.gsub(/0\.0\.0\.0(.+)/, "127.0.0.1\\1")} #{fetch(:nginx_http_flags)};"
  end
end
%><% @backends.each do |server| %>
  <%= server %><% end %>
}
<% if fetch(:nginx_use_ssl) -%>
server {
  listen 80;
  listen [::]:80;
  server_name <%= fetch(:nginx_server_name) %> www.<%= fetch(:nginx_server_name) %>;
  return 301 https://$server_name$request_uri;
}
<% end -%>

server {
<% if fetch(:nginx_use_ssl) -%>
  listen 443 ssl;

  # don't send the nginx version number in error pages and Server header
  server_tokens off;

<% if fetch(:nginx_ssl_certificate) -%>
  ssl_certificate <%= fetch(:nginx_ssl_certificate) %>;
<% else -%>
  ssl_certificate /etc/ssl/certs/<%= fetch(:nginx_config_name) %>.crt;
<% end -%>
<% if fetch(:nginx_ssl_certificate_key) -%>
  ssl_certificate_key <%= fetch(:nginx_ssl_certificate_key) %>;
<% else -%>
  ssl_certificate_key /etc/ssl/private/<%= fetch(:nginx_config_name) %>.key;
<% end -%>
<% else -%>
  listen 80;
  listen [::]:80;
<% end -%>
  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;

  # Diffie-Hellman parameter for DHE ciphersuites, recommended 2048 bits
  ssl_dhparam /etc/nginx/ssl/dhparam.pem;

  # intermediate configuration. tweak to your needs.
  ssl_protocols TLSv1.2;
  ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
  ssl_prefer_server_ciphers on;

  # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
  add_header Strict-Transport-Security max-age=15768000;

  # OCSP Stapling ---
  # fetch OCSP records from URL in ssl_certificate and cache them
  ssl_stapling on;
  ssl_stapling_verify on;

  # enable ocsp stapling (mechanism by which a site can convey certificate revocation information to visitors in a privacy-preserving, scalable manner)
  # http://blog.mozilla.org/security/2013/07/29/ocsp-stapling-in-firefox/
  resolver 8.8.8.8;

  client_max_body_size 4G;
  keepalive_timeout 10;

  # Gzip Settings
  gzip on;

  # allows pre-serving of .gz file if it exists
  gzip_static on;

  # Disable for user-agent Internet explorer 6. Not supported.
  gzip_disable "msie6";

  # enable gzip for all proxied requests
  gzip_proxied any;

  # number and size of buffers to compress a response
  gzip_buffers 16 8k;
  gzip_http_version 1.1;

  # Only gzip files of size in bytes
  gzip_min_length 256;
  gzip_types text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;

  # Uncompress on the fly
  # gunzip on;

  server_name <%= fetch(:nginx_server_name) %> www.<%= fetch(:nginx_server_name) %>;
  root <%= fetch(:client_path) %>/current;

  error_page 404 /404.html;
  error_page 500 502 504 /500.html;
  error_page 503 @503;

  set $public_path <%= fetch(:client_path) %>/current;

  access_log <%= shared_path %>/log/nginx.access.log;
  error_log <%= shared_path %>/log/nginx.error.log;

  try_files $uri $uri/ @puma_<%= fetch(:nginx_config_name) %>;

  # proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header Host $http_host;
  proxy_set_header X-NginX-Proxy true;
  proxy_intercept_errors on;

  proxy_redirect off;

  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "Upgrade";

  location @puma_<%= fetch(:nginx_config_name) %> {
    if ($uri ~ ^(.*).html$){
      return 404;
    }

    rewrite .* /index.html break;
  }

  location /short_links {
    rewrite ^(.*)$ $1 break;

    proxy_pass http://puma_<%= fetch(:nginx_config_name) %>;
    proxy_buffer_size 128k;
    proxy_buffers 4 256k;
    proxy_busy_buffers_size 256k;
  }

  location /api {
    rewrite ^/api/(.*)$ /$1 break;

    proxy_pass http://puma_<%= fetch(:nginx_config_name) %>;
    proxy_buffer_size 128k;
    proxy_buffers 4 256k;
    proxy_busy_buffers_size 256k;
  }

  location ^~ /admin/workers {
    proxy_pass http://puma_<%= fetch(:nginx_config_name) %>;
    proxy_buffer_size 128k;
    proxy_buffers 4 256k;
    proxy_busy_buffers_size 256k;
  }

  location = /50x.html {
    root <%= current_path %>/public;
  }

  location = /404.html {
    root <%= current_path %>/public;
  }

  location @503 {
    root $public_path;

    if (-f <%= fetch(:client_path) %>/shared/maintenance.html) {
      rewrite ^(.*)$ /maintenance.html break;
    }
    rewrite ^(.*)$ /503.html break;
  }

  if ($request_method !~ ^(GET|HEAD|PUT|PATCH|POST|DELETE|OPTIONS)$ ){
    return 405;
  }

  if (-f <%= fetch(:client_path) %>/shared/maintenance.html) {
    return 503;
  }

}
