%p Кабинет: #{ @company.name }
%p Тариф: #{ @company.tariff_name }
%p Срок действия: #{ @company.tariff_end_at.strftime('%d.%m.%Y %H:%M') }
%p Пользователь: #{ @user.full_name }
%p Электропочта: #{ @user.email }
%p Телефон: #{ @user.phone }