%p Здравствуйте.

%p Вы успешно зарегистрированы в сервисе “Гарант Тендер”.

%p
  Для начала работы перейдите по ссылке:
  %br
  #{link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token)}

%p
  Ваши учетные данные:
  %br
  e-mail: #{@email}
  %br
  пароль: #{@password}
  %br
  тариф: #{@tariff}