%p
  Здравствуйте.

%p
  Вы получили приглашение к совместной работе в сервисе “Гарант Тендер”.

%p
  Для подтверждения адреса электронной почты и регистрации в сервисе, перейдите по ссылке:
  %br
  #{link_to accept_invitation_url(@resource, :invitation_token => @token), accept_invitation_url(@resource, :invitation_token => @token)}

%p
  Если вы не хотите принимать участие в совместной работе в сервисе или приглашение отправлено вам по ошибке, проигнорируйте это письмо.