%p Здравствуйте.

%p
  Вы (или кто-то еще) запросили изменение адреса электронной почты, используемый для доступа к сервису “Гарант Тендер”.
%p
  Новый адрес электронной почты: #{@resource.unconfirmed_email}.
%p
  Для подтверждения изменений, перейдите по ссылке:
  %br
  #{link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token)}
%p
  Если вы не запрашивали изменение адреса электронной почты, проигнорируйте это сообщение.

