%p Здравствуйте.

%p
  Вы (или кто-то еще) запросили изменение пароля для доступа к сервису  “Гарант Тендер”.
  %br
  Для восстановления пароля перейдите по ссылке:
  %br
  #{link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)}

%p
  Если вы не запрашивали изменение пароля - проигнорируйте это сообщение.
  %br
  Ваш пароль не изменится пока вы не нажмете на ссылку и не укажите новый.