%div
  Поле
  %b= Tender.human_attribute_name field
  изменилось
  - if changes[0].is_a?(Time) || changes[1].is_a?(Time)
    - if changes[0]
      с <strong>#{l(changes[0].in_time_zone)}</strong>
    на <strong>#{l(changes[1].in_time_zone)}</strong>
  - elsif field == 'status'
    - if changes[0]
      с <strong>#{I18n.t("tender.status.#{changes[0]}")}</strong>
    на <strong>#{I18n.t("tender.status.#{changes[1]}")}</strong>
  - else
    - if changes[0]
      с <strong>#{changes[0]}</strong>
    на <strong>#{changes[1]}</strong>