%div
  %b= Tender.human_attribute_name field
  - if changes[:added].present?
    %div
      Добавлены:
      - changes[:added].each do |document|
        %div= document[:name]
  - if changes[:removed].present?
    %div
      Удалены:
      - changes[:removed].each do |document|
        %div= document[:name]
