%p Уважаемый пользователь!
%p Вы поставили на контроль процедуры, в извещении которых произошли изменения.

%table.with_content{:border => "0", :cellpadding => "0", :cellspacing => "0"}
  %thead
    %tr
      %th Тендер
      %th Изменения
  %tbody
    - @tenders.each do |tender|
      %tr
        %td{width:'50%', padding_bottom: '10px'}
          = link_to tender.name, "#{@domain}/tender/\#{%22id%22:%22#{tender.guid}%22}", :target => "_blank"
        %td{width:'50%', padding_bottom: '10px'}
          - tender.last_changes.each do |item|
            - next if item.modifications.count == 0
            - item.modifications.each do |field, modifications|
              - view = field == 'documents' ? 'documents' : 'default'
              = render partial: view, locals: { field: field, changes: modifications }

%h3 Содействие в получении банковской гарантии
%p
  Вы нашли интересующий тендер? Наши консультанты помогут вам оформить заявку на банковскую гарантию,
  заполнить анкету банка, приложить нужные документы, проверить их корректность, подписать электронной
  подписью и направить в банк.

  %table.btn.btn-primary{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
    %tbody
      %tr
        %td{:align => "left"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
            %tbody
              %tr
                %td
                  #{link_to 'Отправить заявку', 'http://www.garantexpress.ru/services/electronic_trading/bank_guarantee/', class:'btn', :target => "_blank"}