%p
  Здравствуйте.

%p
  Пользователь  сервиса “Гарант Тендер” #{@admin.full_name} назначил вас координатором процедуры
  %i “#{@tender.name}”.
  %br
  Статус процедуры:
  %strong= I18n.t("tender.state.#{@tender.state}")

  %br
  Прием заявок до:
  %strong= @tender.end_at.strftime('%d.%m.%Y %H:%M')

%p
  Для продолжения работы перейдите по ссылке:
  %br
  = link_to @tender.name, "#{@domain}/tender/\#{%22id%22:%22#{@tender.id}%22}", :target => "_blank"