!!!
%html
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'mailer'
    = yield :head
    %style
      @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
  %body
    %table.body{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
      %tr
        %td  
        %td.container
          .content
            %table.main{:role => "presentation"}
              %tr
                %td.wrapper
                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
                    %tr
                      %td
                        = link_to root_url do
                          = image_tag(attachments['gartender_logo.png'].url, width: '163', height: '61', style:'margin-bottom:16px;')
                        = yield
            .footer
              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :role => "presentation"}
                %tr
                  %td.content-block
                    %span.apple-link
                      Оставить отзыв или получить консультацию можно по бесплатному телефону Центра поддержки клиентов
                      8 800 333 8888 или по адресу #{mail_to "ee@garant.ru"}
                    %br/
                    Желаем успешной работы!
        %td  
